<%- include("../includes/header") %>
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="/admin/login" method="post">
            <div class="awms pb-5">AWMS </div>
            <div><a href="/" class="home-icon float-right pb-5"><span class="fa fa-home"></span></a></div>
            <div class="align-items-center font-weight-bold text-dark pt-5">
                <p>Welcome Back! Please login <br> to your account.</p>
            </div>
            <div class="form-group pt-5"><input class="form-control" type="email" name="email"
                    placeholder="Email Address" required></div>
            <div class="form-group pt-5"><input class="form-control" type="password" name="password"
                    placeholder="Password" required></div>
            <div class="form-group font-weight-bold text-dark">
                <div class="form-check pt-3"><label class="form-check-label"><input class="form-check-input"
                            type="checkbox">Remember me.</label><a href="#" class="forgot-password float-right mt-1">
                        Forgot password </a></div>
            </div>
            <div class="form-group pt-3 text-center"><button class="btn-color" type="submit">Login</button></div>
        </form>
    </div>
</div>
<%- include("../includes/footer") %>