<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>AWMS</title>
  </head>

  <body>
    <div class="home">
      <header class="home__header">
        <a class="home__link" href="/">
          <h1 class="home__heading">
            <span>AWMS</span>
            <span>ashesi workshop management system</span>
          </h1>
        </a>
        <nav class="home__header__nav">
          <ul class="home__header__nav-list">
            <li class="home__header__nav__item">
              <a href="/about" class="home__link">about</a>
            </li>
            <li class="home__header__nav__item">
              <a href="/student-login" class="home__link">student login</a>
            </li>
            <li class="home__header__nav__item">
              <a href="/admin-login" class="home__link">admin login</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="home__main">
        <div class="home__banner">
          <h2 class="home__banner__text">
            making projects come alive, one submission at a time .........
          </h2>
        </div>
      </main>
    </div>
    <footer class="footer">
      <ul class="footer__credits">
        <li class="footer__credits__item">copyright &copy; 2022 AWMS Inc.</li>
        <li class="footer__credits__item">all rights reserved.</li>
        <li class="footer__credits__item">privacy policy | Terms of Use | legal</li>
      </ul>
      <div class="footer__country">
        <img src="images/ghana-img.png" alt="Ghana Image" class="footer__img">
        <span class="footer__country-text">ghana</span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  </body>

</html>