<%- include("../includes/header") %>
<div class="home">
  <header class="home__header">
    <a class="home__link" href="/">
      <h1 class="home__heading">
        <span>AWMS</span>
        <span>ashesi workshop management system</span>
      </h1>
    </a>
    <nav class="home__header__nav">
      <ul class="home__header__nav-list">
        <li class="home__header__nav__item">
          <a href="/about" class="home__link">about</a>
        </li>
        <li class="home__header__nav__item">
          <a href="/students/login" class="home__link">student login</a>
        </li>
        <li class="home__header__nav__item">
          <a href="/admin/login" class="home__link">admin login</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="home__main">
    <div class="home__banner">
      <h2 class="home__banner__text">
        making projects come alive, one submission at a time .........
      </h2>
    </div>
  </main>
</div>
<%- include("../includes/footer") %>